/* fonts */
@font-face {
    font-family: 'OP';
    src: url('fonts/OnePlusSans-Regular.ttf') format('truetype');
    color: white;
}

@font-face {
    font-family: 'OP-Light';
    src: url('fonts/OnePlusSans-Light.ttf') format('truetype');
    color: white;
}

@font-face {
    font-family: 'OP-Bold';
    src: url('fonts/OnePlusSans-Bold.ttf') format('truetype');
    color: white;
}



body {
    background: black;
    color: white;
    font-size: 100%;
    font-family: 'OP';
    text-rendering: optimizeLegibility;

}

.mesh {
    border: 2px black solid;
    border-radius: 20px;
    margin: 5% auto;
    display: block;
}


/* slider - start */


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}




.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 10px;
    position: relative;
    height: 20px;
    width: 40px;
    border: 0px solid transparent;
    border-radius: 100px;
    background-color: #4E4E4E;
    /*toggle-before*/
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #5E2734;
    /*toggle after*/
}


.toggle-button {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: #A8A8A8;
    /*before-inner*/
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #CA113D;
    /*after-inner*/
    transform: translateX(20px);
}

/* slider - end */


.section {
    width: 90%;
    margin-top: 18px;
    display: flex;
    background-color: #212224;
    border-radius: 10px;
    padding: 5%;
    align-content:center;
    align-items: center;
}




.range {
    width: 100%;
    /*border: 1px solid white;*/
    align-content: center;
    display: flex;
  }
  
  .slider {
    -webkit-appearance: none; 
    width: 75%; 
    height: 5px; 
    background: linear-gradient(to right, #CA113D 0%, #CA113D var(--thumb-position), #4E4E4E var(--thumb-position));
    outline: none; 
    opacity: 1; 
    border-radius: 20px;
    --thumb-position: 0%;
    margin-left:10%;
    
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; 
    height: 18px; 
    background: #CA113D; 
    cursor: pointer;
    border-radius: 100%;
  }

